services:
  app:
    ports:
      - 88:80

  sql-db:
    ports:
      - 5434:5432

  sql-db-test:
    ports:
      - 5435:5432

  rabbitmq:
    ports:
      - 5672:5672
      - 15672:15672

###> symfony/mailer ###
  mailer:
    image: schickling/mailcatcher
    ports:
      - 1080:1080
###< symfony/mailer ###
